.counter-button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.reset{
    background-color: #ef4444;
}